* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.footer-data span:nth-child(2) {
    margin: 0 40px;
}

.rs-img {
    width: 100px;
    filter: invert(67%) sepia(0%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: filter 0.7s;
}

.rs-img:hover {
    filter: invert(40%) sepia(0%) saturate(638%) hue-rotate(510deg) brightness(92%) contrast(87%);
}

.github-link {
    text-decoration: none;
    color: #aaa;
    transition: color 0.6s;
}

.github-link:hover {
    color: #fff;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer .copyright a {
    color: #444;
    transition: color 0.6s;
}

footer .copyright a:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}
