.footer {
    .address {
        h3 {
            @media (max-width: $tablet) {
                margin-bottom: 40px;
            }
        }
        .item:last-child {
            margin-top: 33px;
            @media (max-width: $tablet) {
                margin-top: 40px;
            }
        }
    }
}
