.pets {
    padding: 0 40px;
    padding-top: 80px;
    @extend %column-center;
    background-color: $gray;
    @media (max-width: 1279px) {
        height: 1733px;
    }
    h3 {
        width: 400px;
        height: 90px;
        text-align: center;
    }
    .cards-container {
        @extend %space-between;
        flex-wrap: wrap;
        margin-top: 45px;
        @media (max-width: 1279px) {
            margin-top: 30px;
            width: 580px;
            height: 1365px;
            row-gap: 30px;
        }
        .card {
            margin: 15px 0;
            @media (max-width: 1279px) {
                margin: 0;
            }
            &:nth-child(7) {
                @media (max-width: 1279px) {
                    display: none;
                }
            }
            &:nth-child(8) {
                @media (max-width: 1279px) {
                    display: none;
                }
            }
        }
    }
    .navigation {
        width: 340px;
        height: 52px;
        margin-top: 45px;
        margin-bottom: 100px;
        padding-bottom: 0;
        @extend %space-between;
        @media (max-width: 1279px) {
            margin-top: 40px;
        }
        .button-round {
            font-size: 20px;
            padding-top: 3px;
            letter-spacing: 0.06em;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
        .inactive {
            color: #cdcdcd;
            border: 2px solid #cdcdcd;
        }
        .active {
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                background-color: $light-peach;
                border: 2px solid $light-peach;
            }
        }
        .page-number {
            background-color: $peach;
            border: none;
            transition: background-color 0.5s;
        }
    }
}

.address {
    .item:first-child {
        align-self: flex-end;
    }
}
