.pets {
    padding: 0 40px;
    padding-top: 80px;
    @extend %column-center;
    background-color: $gray;
    @media (max-width: $desktop) {
        height: 1733px;
    }
    @media (max-width: $tablet) {
        height: 1649px;
        padding-top: 42px;
    }
    h3 {
        width: 400px;
        height: 90px;
        text-align: center;
        @media (max-width: $tablet) {
            width: 300px;
            height: 64px;
        }
    }
    .cards-container {
        @extend %space-between;
        flex-wrap: wrap;
        margin-top: 45px;
        @media (max-width: $desktop) {
            margin-top: 30px;
            width: 580px;
            height: 1365px;
            row-gap: 30px;
        }
        @media (max-width: $tablet) {
            width: 270px;
            margin-top: 42px;
        }
        .card {
            margin: 15px 0;
            animation: fading 0.3s;
            @keyframes fading {
                from {
                    opacity: 0;
                } to {
                    opacity: 1;
                }
            }
            @media (max-width: $desktop) {
                margin: 0;
            }
            &:nth-child(7) {
                @media (max-width: $desktop) {
                    display: none;
                }
            }
            &:nth-child(8) {
                @media (max-width: $desktop) {
                    display: none;
                }
            }
            &:nth-child(6) {
                @media (max-width: $tablet) {
                    display: none;
                }
            }
            &:nth-child(5) {
                @media (max-width: $tablet) {
                    display: none;
                }
            }
            &:nth-child(4) {
                @media (max-width: $tablet) {
                    display: none;
                }
            }
        }
    }
    .modal {
        visibility: hidden;
        position: fixed;
        top: calc(50% - 250px);
        width: 900px;
        height: 500px;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background-color: #fafafa;
        border-radius: 9px;
        z-index: 3;
        transform: scale(0.2);
        transition: transform 0.6s ease-in-out;
        @media (max-width: $desktop) {
            top: calc(50% - 175px);
            width: 630px;
            height: 350px;
        }
        @media (max-width: $tablet) {
            top: calc(50% - 190px);
            width: 240px;
            height: 380px;
        }
    
        .pet-img {
            width: 500px;
            height: 500px;
            border-radius: 9px;
            @media (max-width: $desktop) {
                width: 350px;
                height: 350px;
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }
    
        .pet-content {
            width: 351px;
            margin: 50px 20px 39px 0;
            color: #000000;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: $desktop) {
                width: 260px;
                margin: 10px 9px 10px 0;
            }
            @media (max-width: $tablet) {
                width: 220px;
                height: 345px;
                margin: 0;
                justify-content: center;
            }
    
            h3 {
                margin: 0;
                height: fit-content;
                width: fit-content;
                color: #000000;
                @media (max-width: $tablet) {
                    width: auto;
                    text-align: center;
                }
            }
    
            .pet-type-breed {
                line-height: 115%;
                @media (max-width: $desktop) {
                }
                @media (max-width: $tablet) {
                    text-align: center;
                    margin: 12px 0;
                }
            }
    
            .pet-description {
                line-height: 115%;
                @media (max-width: $desktop) {
                    font-size: 13px;
                    line-height: 110%;
                }
                @media (max-width: $tablet) {
                    text-align: justify;
                    margin-bottom: 12px;
                }
            }
    
            ul {
                list-style-type: disc;
                list-style-position: outside;
                
                li::marker {
                    color: $peach;
                    font-size: 13px;
                }
    
                li {
                    margin-bottom: 11px;
                    font-family: Georgia, serif;
                    letter-spacing: 0.06em;
                    margin-left: 14px;
                    hyphens: auto;
                    @media (max-width: $desktop) {
                        margin-bottom: 5px;
                    }

                    .span {
                        font-weight: 700;
                        margin: 0 7px 0 0;
                    }
                    span {
                        line-height: 110%;
                    }
                }
            }
        }
    }
    .modal-active {
        visibility: inherit;
        display: flex;
        flex-direction: row;
        column-gap: 29px;
        transform: scale(1);
        &:not(:hover) {
            .close-btn.close-btn-active {
                background-color: $light-peach;
                border-color: $light-peach;
            }
        }
        @media (max-width: $desktop) {
            column-gap: 11px;
        }
        @media (max-width: $tablet) {
            justify-content: center;
            align-items: center;
        }
    }

    .close-btn {
        display: none;
        position: fixed;
        top: calc(50% - 305px);
        right: calc(50% - 490px);
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid $peach;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
        transition: all 0.5s;
        @media (max-width: $desktop) {
            top: calc(50% - 230px);
            right: calc(50% - 355px);
        }
        @media (max-width: $tablet) {
            top: calc(50% - 245px);
            right: calc(50% - 150px);
        }
        img {
            padding: 18px;
        }
    }
    .close-btn-active {
        display: flex;
        &:hover {
            border-color: $light-peach;
            background-color: $light-peach;
        }
    }

    .navigation {
        width: 340px;
        height: 52px;
        margin-top: 45px;
        margin-bottom: 100px;
        padding-bottom: 0;
        @extend %space-between;
        @media (max-width: $desktop) {
            margin-top: 40px;
        }
        @media (max-width: $tablet) {
            width: 300px;
        }
        .button-round {
            font-size: 20px;
            padding-top: 3px;
            letter-spacing: 0.06em;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
        .inactive {
            color: #cdcdcd;
            border: 2px solid #cdcdcd;
        }
        .active {
            cursor: pointer;
            transition: all 0.5s;
            color: inherit;
            border: 2px solid $peach;
            &:hover {
                background-color: $light-peach;
                border: 2px solid $light-peach;
            }
        }
        .page-number {
            background-color: $peach;
            border: none;
            transition: background-color 0.5s;
        }
    }
}

.overflow {
    overflow-y: hidden;
}

.overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 2;
}