html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header, .nav ul, .start-screen, .footer .footer-content, .footer .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about, .help .list, .donation, .donation .donation-content .credit-card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets, .help, .help .list .item, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/georgia/georgia-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/georgia/georgia-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/georgia/georgia-bold-webfont.woff2") format("woff2"), url("../../../assets/fonts/georgia/georgia-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/georgia/georgia-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/georgia/georgia-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url("../../../assets/fonts/arial/arial-italic-webfont.woff2") format("woff2"), url("../../../assets/fonts/arial/arial-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url("../../../assets/fonts/arial/arial-regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/arial/arial-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, button {
  font-family: Georgia, serif;
  font-weight: 400;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #545454;
}

@media (max-width: 767px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  letter-spacing: 0.06em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.header {
  color: #fafafa;
  background-image: url(../../../assets/images/background.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  padding: 60px 40px 0 40px;
}

@media (max-width: 1279px) {
  .header {
    background-image: url(../../../assets/images/background-768.png);
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: url(../../../assets/images/background-320.png);
    padding: 30px 10px 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 41px;
            column-gap: 41px;
  }
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    width: 30px;
    height: 22px;
    margin-right: 43px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 1;
  }
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}

.burger .line:nth-child(2) {
  margin: 8px 0;
}

.rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.logo {
  width: 186px;
  height: 60px;
  cursor: pointer;
}

.logo h1 {
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo p {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0.1em;
  line-height: 15px;
  margin-left: 4px;
  margin-top: 9px;
}

@media (max-width: 767px) {
  .nav {
    display: block;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    position: fixed;
    top: 0;
    right: -320px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (max-width: 767px) {
  .nav ul {
    width: 281px;
    height: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 255px;
    font-size: 32px;
  }
}

.nav ul li {
  margin: 20px 0;
  margin-left: 35px;
  padding-bottom: 2px;
  list-style: none;
}

@media (max-width: 767px) {
  .nav ul li {
    margin: 0;
    margin-left: 38px;
    padding-bottom: 6px;
  }
}

.nav ul li a {
  letter-spacing: 0.05px;
  color: #cdcdcd;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav ul li a:hover {
  color: #fafafa;
}

.nav ul .active-link {
  border-bottom: 3px solid #f1cdb3;
}

.nav ul .active-link a {
  color: #fafafa;
}

.menu-visible {
  right: 0;
}

.invisible {
  display: none;
}

.start-screen {
  background-image: url(../../../assets/images/background.png);
  background-repeat: no-repeat;
  background-position: center -120px;
}

@media (max-width: 1279px) {
  .start-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../../../assets/images/background-768.png);
    background-size: 100%;
    background-position: center 0;
  }
}

@media (max-width: 767px) {
  .start-screen {
    background-image: url(../../../assets/images/background-320.png);
  }
}

.start-screen img {
  margin-top: 58px;
  margin-right: 40px;
}

@media (max-width: 1279px) {
  .start-screen img {
    width: 569px;
    height: 593px;
    margin-left: 175px;
    margin-top: 101px;
  }
}

@media (max-width: 767px) {
  .start-screen img {
    margin-top: 105px;
    width: 260px;
    height: 272px;
    margin-left: 50px;
    margin-right: 10px;
  }
}

.start-screen-content {
  width: 460px;
  height: 322px;
  margin: 220px 42px 0 40px;
}

@media (max-width: 1279px) {
  .start-screen-content {
    margin-top: 57px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .start-screen-content {
    width: 300px;
    height: 296px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}

@media (max-width: 1279px) {
  .start-screen-content .primary {
    margin-left: 126px;
  }
}

@media (max-width: 767px) {
  .start-screen-content .primary {
    margin-left: 0;
    padding-top: 3px;
  }
}

.start-screen-content .heading {
  line-height: 130%;
  padding-top: 3px;
  width: 310px;
  height: 114px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .start-screen-content .heading {
    font-size: 25px;
    width: 220px;
    height: 64px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 0;
  }
}

.start-screen-content .subheading {
  width: 460px;
  height: 72px;
  line-height: 160%;
  color: #cdcdcd;
  margin: 44px 0 41px 0;
}

@media (max-width: 767px) {
  .start-screen-content .subheading {
    width: 300px;
    height: 96px;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

.about {
  height: 588px;
  background-color: #ffffff;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

@media (max-width: 1279px) {
  .about {
    height: 1048px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .about {
    height: 974px;
  }
}

.about img {
  width: 300px;
  height: 408px;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .about img {
    width: 260px;
    height: 353.6px;
    margin-top: 40px;
  }
}

.about .about-content {
  margin-top: 94px;
  width: 430px;
  height: 380px;
}

@media (max-width: 1279px) {
  .about .about-content {
    margin-top: -18px;
  }
}

@media (max-width: 767px) {
  .about .about-content {
    width: 300px;
    height: 494px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2px;
  }
}

.about .about-content h3 {
  width: 370px;
  height: 90px;
  line-height: 128%;
  padding-top: 2px;
}

@media (max-width: 767px) {
  .about .about-content h3 {
    width: 220px;
    height: 64px;
    text-align: center;
    padding-top: 0;
  }
}

.about .about-content p {
  line-height: 160%;
  color: #4c4c4c;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .about .about-content p {
    width: 270px;
    text-align: justify;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .about .about-content p:last-child {
    margin-top: 22px;
  }
}

.pets {
  height: 877px;
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  .pets {
    height: 791px;
  }
}

.pets h3 {
  width: 400px;
  height: 90px;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 1px;
}

@media (max-width: 767px) {
  .pets h3 {
    width: 300px;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

.pets .slider {
  width: 1200px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 1279px) {
  .pets .slider {
    width: 708px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .pets .slider {
    width: 270px;
    height: 507px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 64px;
            column-gap: 64px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .pets .slider .arrow:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .pets .slider .arrow:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1279px) {
  .pets .slider .card:nth-child(2) {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 767px) {
  .pets .slider .card:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 1279px) {
  .pets .slider .card:nth-child(3) {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 767px) {
  .pets .slider .card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1279px) {
  .pets .slider .card:nth-child(4) {
    display: none;
  }
}

.pets .long-button {
  width: 261px;
}

.help {
  height: 611px;
  background-color: #ffffff;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .help {
    height: 779px;
  }
}

@media (max-width: 767px) {
  .help {
    height: 745px;
    padding: 0;
  }
}

.help h3 {
  width: 310px;
  height: 90px;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .help h3 {
    width: 222px;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

.help .list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  width: 1030px;
}

@media (max-width: 1279px) {
  .help .list {
    width: 630px;
    height: 449px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

@media (max-width: 767px) {
  .help .list {
    width: 290px;
    height: 555px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1279px) {
  .help .list .item {
    width: 170px;
    height: 113px;
  }
}

@media (max-width: 767px) {
  .help .list .item {
    width: 130px;
    height: 87px;
  }
}

.help .list .item h4 {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .help .list .item h4 {
    font-size: 15px;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .help .list .item img {
    width: 40%;
  }
}

.donation {
  height: 462px;
  background-color: #f6f6f6;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  color: #545454;
}

@media (max-width: 1279px) {
  .donation {
    height: 783px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .donation {
    height: 542.2px;
  }
}

.donation img {
  width: 505px;
  height: 261px;
  margin-top: 91px;
}

@media (max-width: 1279px) {
  .donation img {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .donation img {
    width: 260px;
    height: 135.2px;
    margin-top: 42px;
  }
}

.donation .donation-content {
  margin-top: 80px;
  width: 380px;
  height: 282px;
}

@media (max-width: 1279px) {
  .donation .donation-content {
    margin-top: -20px;
  }
}

@media (max-width: 767px) {
  .donation .donation-content {
    width: 300px;
    height: 281px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

.donation .donation-content h3 {
  width: 300px;
  height: 90px;
  padding-top: 1px;
}

@media (max-width: 767px) {
  .donation .donation-content h3 {
    width: 220px;
    height: 64px;
    text-align: center;
  }
}

.donation .donation-content h5 {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .donation .donation-content h5 {
    width: 273px;
    height: 24px;
    letter-spacing: 0;
    line-height: 160%;
  }
}

.donation .donation-content .credit-card-link {
  width: 349px;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1cdb3;
  border-radius: 9px;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

@media (max-width: 767px) {
  .donation .donation-content .credit-card-link {
    width: 281px;
  }
}

.donation .donation-content .credit-card-link:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.donation .donation-content .credit-card-link img {
  width: 30px;
  height: 23px;
  margin: 0 15px 0 0;
}

.donation .donation-content .credit-card-link span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
  letter-spacing: 00.06em;
}

@media (max-width: 767px) {
  .donation .donation-content .credit-card-link span {
    font-size: 15px;
  }
}

.donation .donation-content p {
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
}

@media (max-width: 767px) {
  .donation .donation-content p {
    width: 280px;
    height: 90px;
    text-align: justify;
  }
}

.footer {
  height: 350px;
  background-image: url(../../../assets/images/footer.png);
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 640px;
    background-image: url(../../../assets/images/footer-768.png);
    background-size: 100%;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 809px;
    background-image: url(../../../assets/images/footer-320.png);
  }
}

@media (max-width: 1279px) {
  .footer .footer-content {
    width: 708px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 25px;
  }
}

@media (max-width: 767px) {
  .footer .footer-content {
    width: 300px;
    height: 470px;
    row-gap: 14px;
  }
}

.footer .puppy-img {
  margin-top: 40px;
  width: 300px;
  height: 310px;
}

@media (max-width: 767px) {
  .footer .puppy-img {
    margin-top: 14px;
    width: 260px;
    height: 269px;
  }
}

.footer .contacts {
  margin-top: 56px;
  width: 279px;
  height: 234px;
}

@media (max-width: 1279px) {
  .footer .contacts {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .contacts .item {
  margin-top: 40px;
}

.footer .address {
  margin-top: 56px;
  width: 302px;
  height: 234px;
}

@media (max-width: 1279px) {
  .footer .address {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer .address {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .address h3 {
  margin-bottom: 32px;
}

@media (max-width: 1279px) {
  .footer .address h3 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .footer .address h3 {
    margin-bottom: 40px;
  }
}

.footer .address .item:last-child {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .footer .address .item:last-child {
    margin-top: 40px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.footer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .item a {
  color: #f1cdb3;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .item img {
  margin-right: 20px;
}

.footer h3 {
  color: #ffffff;
  padding-top: 1px;
}

@media (max-width: 767px) {
  .footer h3 {
    width: 270px;
    height: 64px;
    text-align: center;
  }
}

.button {
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  border-radius: 100px;
  outline: none;
  border: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: #292929;
  letter-spacing: 0.06em;
  line-height: 130%;
  font-size: 17px;
}

.button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.primary:hover {
  background-color: #fddcc4;
}

.button-round {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
  padding-bottom: 4px;
  color: #292929;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-round:first-child {
  margin-right: 8px;
}

.button-round:last-child {
  margin-left: 8px;
}

.arrow {
  cursor: pointer;
}

.arrow:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.secondary {
  width: 187px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  letter-spacing: 0.06em;
  font-size: 17px;
  color: #545454;
}

.card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  margin: 0 45px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.card:hover button {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.card h4 {
  margin: 30px 0;
  color: #545454;
}
/*# sourceMappingURL=main.css.map */